@-webkit-keyframes dash {
  from {
    stroke-dasharray: 597px;
    stroke-dashoffset: 597px;
  }
}
@-webkit-keyframes progressDuration{
  from{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    }
    to{
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -moz-transform: translateX(0%);
    }
}
.clickable-div {
  cursor: default;
}

body:not(.elementor-editor-active) .clickable-div {
  cursor: pointer;
}

/* Zoom Announcment widget default Style */
.zoom-announcement-widget .zoom-announcement-box {
  background-color: #93013c;
  border: none;
  margin-bottom: 30px;
  border-radius: 12px;
}

.zoom-announcement-widget .zoom-announcement-flex-box {
  display: flex;
  width: 100%;
  align-items: center;
}

.zoom-announcement-widget .title-container h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 0px;
  font-family: inherit;
  text-transform: uppercase;
}

.zoom-announcement-widget .widget-zoom-announcement-media-container img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.zoom-announcement-widget .date-container span {
  color: #fff;
  font-size: 14px;
}

.zoom-announcement-widget .widget-zoom-announcement-box-style-a {
  padding: 30px 20px;
  display: block;
}

/** learndash - course-navigation-widget */
.learndash-course-navigation-widget .circle-progress .ProgressBar {
  margin: 0 8px;
}

.learndash-course-navigation-widget .circle-progress .ProgressBar,
.learndash-course-navigation-widget .circle-progress .ProgressBar-contentCircle {
  height: 26px;
  position: relative;
  width: 26px;
  display: block;
}

.learndash-course-navigation-widget .circle-progress .ProgressBar-circle,
.learndash-course-navigation-widget .circle-progress .ProgressBar-background {
  animation: progress 1s;
  -webkit-animation: progress 1s;
  -moz-animation: progress 1s;
  fill: none;
  stroke: #82cbc5;
  stroke-width: 18;
  stroke-linecap: round;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  position: relative;
  z-index: 10;
}

.learndash-course-navigation-widget span.progress-content-container {
  margin-right: 0;
  margin-left: auto;
  display: block;
  width: 40px;
  height: 27px;
}

.learndash-course-navigation-widget span.widget-course-navigation-icon-course-completed-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.learndash-course-navigation-widget .circle-progress .ProgressBar-circle {
  stroke-dasharray: 597px;
  stroke-dashoffset: 597px;
}

.learndash-course-navigation-widget .circle-progress .ProgressBar-background {
  stroke: #dddddd;
  stroke-width: 13;
  z-index: 0;
}

.learndash-course-navigation-widget .accordion .ac-container {
  padding: 0px;
  position: relative;
  margin: 10px 0;
}

.learndash-course-navigation-widget .accordion .ac-title {
  display: block;
  position: relative;
}

.learndash-course-navigation-widget .accordion .ac-title span a:hover {
  text-decoration: underline;
}

.learndash-course-navigation-widget .accordion .ac-container .ac-title {
  display: flex;
  align-items: center;
}

.learndash-course-navigation-widget .accordion .ac-title span.collapse {
  padding-right: 10px;
  cursor: pointer;
}

.learndash-course-navigation-widget .accordion .ac-container .ac-content ul li a {
  width: 100%;
  cursor: pointer;
}

.learndash-course-navigation-widget .ac-container ul li a:hover {
  background: #e5e5e5;
  border-radius: 5px;
}

.learndash-course-navigation-widget .accordion .ac-container .ac-content ul {
  list-style: none;
  margin: 15px 0px;
}

.learndash-course-navigation-widget .accordion .ac-container .ac-title span.collapse>i {
  transform: rotate(00deg);
  -webkit-transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
  -webkit-transition: transform 0.1s ease-in-out;
}

.learndash-course-navigation-widget .accordion .ac-container .ac-title.open-collapse span.collapse>i {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transition: transform 0.1s ease-in-out;
  -webkit-transition: transform 0.1s ease-in-out;
}

.learndash-course-navigation-widget .menu-option ul li a,
.learndash-course-navigation-widget .accordion-option ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5f5f5f;
}

.learndash-course-navigation-widget .breadcrumbs-container ul {
  display: flex;
  list-style: none;
  margin: 0px;
}

.learndash-course-navigation-widget .accordion-option ul,
.learndash-course-navigation-widget .menu-option ul {
  margin: 0px;
  list-style: none;
}

.completed-shape-circle .learndash-course-navigation-widget .completed i,
.incomplete-shape-circle .learndash-course-navigation-widget .incomplete i,
.collapse-shape-circle .learndash-course-navigation-widget .collapse i,
.active-icon-shape-circle .learndash-course-navigation-widget .active i,
.course-completed-circle .learndash-course-navigation-widget .course-completed i,
.completed-shape-circle .learndash-course-navigation-widget .completed svg,
.incomplete-shape-circle .learndash-course-navigation-widget .incomplete svg,
.active-icon-shape-circle .learndash-course-navigation-widget .active svg,
.collapse-shape-circle .learndash-course-navigation-widget .collapse svg,
.course-completed-circle .learndash-course-navigation-widget .course-completed svg {
  border-radius: 50%;
}

.completed-shape-square .learndash-course-navigation-widget .completed i,
.incomplete-shape-square .learndash-course-navigation-widget .incomplete i,
.collapse-shape-square .learndash-course-navigation-widget .collapse i,
.active-icon-shape-square .learndash-course-navigation-widget .active i,
.course-completed-square .learndash-course-navigation-widget .course-completed i,
.completed-shape-square .learndash-course-navigation-widget .completed svg,
.incomplete-shape-square .learndash-course-navigation-widget .incomplete svg,
.active-icon-shape-square .learndash-course-navigation-widget .active svg,
.collapse-shape-square .learndash-course-navigation-widget .collapse svg,
.course-completed-square .learndash-course-navigation-widget .course-completed svg {
  border-radius: 0%;
}

.learndash-course-navigation-widget .breadcrumbs-container li {
  padding: 0 3px;
  color: #a9a9a9;
  font-size: 14px;
  text-transform: capitalize;
}

.learndash-course-navigation-widget span.widget-course-navigation-lessons-style {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

.learndash-course-navigation-widget .accordion-option ul {
  margin-left: 10px;
}

.learndash-course-navigation-widget .accordion-option ul li a {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.learndash-course-navigation-widget {
  padding: 25px 15px;
}

.learndash-course-navigation-widget .breadcrumbs-container li a {
  text-decoration: underline;
}

.learndash-course-navigation-widget .accordion .ac-container .ac-content ul li a span {
  margin: 0 10px;
}

.learndash-course-navigation-widget .accordion .ac-content ul li a:hover {
  border-radius: 5px;
}

/* Learndash course grid*/
.learndash-course-grid-widget .item a {
  display: inline;
  height: 100%;
}

.learndash-course-grid-widget .owl-theme .owl-nav [class*=owl-],
.owl-theme .owl-nav [class*=owl-],
.learndash-course-grid-widget .owl-theme .owl-nav button.owl-next,
.learndash-course-grid-widget .owl-theme .owl-nav button.owl-prev {
  background: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.learndash-course-grid-widget .owl-theme button.owl-prev i,
.learndash-course-grid-widget .owl-theme button.owl-next i,
.learndash-course-grid-widget .owl-theme button.owl-prev,
.learndash-course-grid-widget .owl-theme button.owl-next {
  background: transparent !important;
}

.owl-next:focus,
.owl-prev:focus {
  outline: none;
  background: transparent !important;
}

.learndash-course-grid-widget .circle-progress .ProgressBar,
.learndash-course-grid-widget .circle-progress .ProgressBar-contentCircle {
  display: flex;
  height: 48px;
  position: absolute;
  width: 48px;
}

.learndash-course-grid-widget .circle-progress .ProgressBar-circle,
.learndash-course-grid-widget .circle-progress .ProgressBar-background {
  animation: progress 1s;
  -webkit-animation: progress 1s;
  -moz-animation: progress 1s;
  fill: none;
  stroke: #d00463;
  stroke-width: 18;
  stroke-linecap: round;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  position: relative;
  z-index: 10;
}

.learndash-course-grid-widget .circle-progress .ProgressBar-circle {
  stroke-dasharray: 597px;
  stroke-dashoffset: 597px;
}

.learndash-course-grid-widget .circle-progress .ProgressBar-background {
  stroke: white;
  stroke-width: 13;
  z-index: 0;
}

.learndash-course-grid-widget .circle-progress .ProgressBar-percentage {
  font-size: 11px;
  text-align: center;
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
}


.learndash-course-grid-widget .card-container {
  border: 1px solid #e8e8e8;
  min-height: 398px;
  overflow: hidden;
  margin: 0 7px;
  border-radius: 10px;
  position: relative;
  padding: 20px 15px;
}

.learndash-course-grid-widget .icon-container {
  background: #00000078;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.learndash-course-grid-widget .circle-progress .ProgressBar {
  position: relative;
}

.learndash-course-grid-widget .progress-content-container {
  width: calc(100% - 30px);
  height: calc(100% - 40px);
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;

}

.learndash-course-grid-widget .circle-progress.top-right {
  margin-right: 0px;
  margin-left: auto;
}

.learndash-course-grid-widget .circle-progress.bottom-right {
  margin-right: 0;
  margin-left: auto;
  margin-top: auto;
}

.learndash-course-grid-widget .circle-progress.bottom-left {
  margin-top: auto;
}

.learndash-course-grid-widget .card-grid.lesson-carousel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.learndash-course-grid-widget .card-grid.lesson-carousel .item {
  margin-bottom: 30px;
}

.learndash-course-grid-widget .title h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: initial;
}

.learndash-course-grid-widget .excerpt p {
  font-size: 12px;
  color: #fff;
  line-height: initial;

}

.learndash-course-grid-widget .link a {
  font-size: 12px;
  font-weight: 100;
  border-radius: 4px;
}

.learndash-course-grid-widget .link a:hover {
  filter: brightness(1.5);
}

.completed-shape-circle .learndash-course-grid-widget .completed i,
.incomplete-shape-circle .learndash-course-grid-widget .incomplete i,
.carousel-shape-circle .learndash-course-grid-widget .owl-nav button.owl-prev,
.closed-shape-circle .learndash-course-grid-widget .closed i,
.completed-shape-circle .learndash-course-grid-widget .completed svg,
.incomplete-shape-circle .learndash-course-grid-widget .incomplete svg,
.closed-shape-circle .learndash-course-grid-widget .closed svg,
.carousel-shape-circle .learndash-course-grid-widget .owl-nav button.owl-,
.duration-overview-info-circle .learndash-duration-overview-widget-icon-style i,
.duration-overview-info-circle .learndash-duration-overview-widget-icon-style svg  {
  border-radius: 50%;
}

.completed-shape-square .learndash-course-grid-widget .completed i,
.incomplete-shape-square .learndash-course-grid-widget .incomplete i,
.carousel-shape-square .learndash-course-grid-widget .owl-nav button.owl-prev,
.closed-shape-square .learndash-course-grid-widget .closed i,
.completed-shape-square .learndash-course-grid-widget .completed svg,
.incomplete-shape-square .learndash-course-grid-widget .incomplete svg,
.closed-shape-square .learndash-course-grid-widget .closed svg,
.carousel-shape-square .learndash-course-grid-widget .owl-nav button.owl-next,
.duration-overview-info-square .learndash-duration-overview-widget-icon-style i,
.duration-overview-info-square .learndash-duration-overview-widget-icon-style svg {
  border-radius: 0%;
}

.learndash-course-grid-widget .owl-nav button.owl-prev,
.learndash-course-grid-widget .owl-nav button.owl-next {

  display: flex;
  align-items: center;
  justify-content: center;
}

.learndash-course-grid-widget .circle-progress .ProgressBar-circle {

  animation: dash 2s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards;
  -webkit-animation: dash 2s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards;
  -moz-animation: dash 2s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards;
}

.learndash-course-grid-widget .owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  text-decoration: none !important;
  box-shadow: none !important;
}

.learndash-course-grid-widget .owl-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 37%;
  position: absolute;
  width: calc(100% + 100px);
  margin: 0 -50px;
}

.learndash-course-grid-widget {
  margin: 30px 50px;
}

.learndash-course-grid-widget .owl-nav {
  z-index: 1;
}

.learndash-course-grid-widget .owl-stage-outer {
  z-index: 3;
}

.completed-view-framed .learndash-course-grid-widget .icon i,
.incomplete-view-framed .learndash-course-grid-widget .icon i,
.closed-view-framed .learndash-course-grid-widget .icon i,
.completed-view-framed .learndash-course-grid-widget .icon svg,
.incomplete-view-framed .learndash-course-grid-widget .icon svg,
.closed-view-framed .learndash-course-grid-widget .icon svg,
.duration-overview-info-framed .learndash-duration-overview-widget-icon-style i,
.duration-overview-info-framed .learndash-duration-overview-widget-icon-style svg {
  border-color: #fff;
  border: 2px solid;
}

.completed-view-stacked .learndash-course-grid-widget .icon i,
.incomplete-view-stacked .learndash-course-grid-widget .icon i,
.closed-view-stacked .learndash-course-grid-widget .icon i,
.completed-view-stacked .learndash-course-grid-widget .icon svg,
.incomplete-view-stacked .learndash-course-grid-widget .icon svg,
.closed-view-stacked .learndash-course-grid-widget .icon svg,
.incomplete-view-default .learndash-course-grid-widget .icon i,
.closed-view-default .learndash-course-grid-widget .icon i,
.completed-view-default .learndash-course-grid-widget .icon i,
.incomplete-view-default .learndash-course-grid-widget .icon svg,
.closed-view-default .learndash-course-grid-widget .icon svg,
.completed-view-default .learndash-course-grid-widget .icon svg,
.duration-overview-info-default .learndash-duration-overview-widget-icon-style i,
.duration-overview-info-default .learndash-duration-overview-widget-icon-style svg  {
  border: none;
}

.learndash-course-grid-widget .media-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.learndash-course-grid-widget .media-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.learndash-course-grid-widget .box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.learndash-course-grid-widget .carousel-option .card-grid .item {
  min-width: 263px;
}

.hide-content {
  display: none !important;
}

.hide-visibility-content {
  visibility: hidden;
}
.elementor-editor-active .hide-content {
  display: block !important;
}

.learndash-course-grid-widget .list-option .card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.learndash-course-grid-widget .list-option .card-container .media-icon-content {
  position: relative;
  display: block;
  margin-right: 30px;
}

.learndash-course-grid-widget .list-option .card-container .progress-content-container {
  position: relative;
}

.learndash-course-grid-widget .list-option .card-container .media-icon-content .media-container {
  display: block;
  position: relative;
}

.learndash-course-grid-widget .list-option .card-container .media-icon-content img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.learndash-course-grid-widget .list-option .card-container .media-icon-content .media-container {
  height: 300px !important;
}

.learndash-course-grid-widget .list-option .card-container {
  height: 200px !important;
  min-height: auto;
  margin-bottom: 30px;
  padding: 0px;
}


.learndash-course-grid-widget .title h3 {
  color: #fff;
}

.learndash-course-grid-widget .excerpt p {
  color: #fff;
}

.learndash-course-grid-widget .list-option .excerpt p {
  color: black;
}

.learndash-course-grid-widget .list-option .title h3 {
  color: black;
}

.learndash-course-grid-widget .list-option .progress-line {
  width: 100%;
  height: 10px;
  margin-top: 13px;
}

.learndash-course-grid-widget .list-option .ProgressBar-background {
  width: 100%;
  height: 6px;
  background: #d7d7d7;
  overflow: hidden;
}

.learndash-course-grid-widget .list-option .ProgressBar-circle {
  height: 18px;
  background: #93013c;
}

.learndash-course-grid-widget .list-option .progress-content-container {
  width: calc(100% - 30px);
  height: calc(100% - 40px);
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px 20px 0;
}

/* learndash circle progress widget*/

.learndash-circle-progress-widget .circle-progress .ProgressBar-circle,
.learndash-circle-progress-widget .circle-progress .ProgressBar-background {
  animation: progress 1s;
  -webkit-animation: progress 1s;
  -moz-animation: progress 1s;
  fill: none;
  stroke: #d00463;
  stroke-width: 18;
  stroke-linecap: round;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  position: relative;
  z-index: 10;
}

.learndash-circle-progress-widget .circle-progress .ProgressBar-background {
  stroke: white;
  stroke-width: 13;
  z-index: 0;
}

.learndash-circle-progress-widget .circle-progress .ProgressBar-percentage {
  font-size: 11px;
  text-align: center;
  width: 100%;
  display: flex;
  top: 0px;
  position: absolute;
  z-index: 100;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.learndash-circle-progress-widget .circle-progress .ProgressBar-contentCircle {
  width: 52%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.learndash-circle-progress-widget .ProgressBar.ProgressBar--animateNone {
  position: relative;
}

.learndash-circle-progress-widget .circle-progress .ProgressBar-circle {
  stroke-dasharray: 597px;
  stroke-dashoffset: 597px;
}

.learndash-circle-progress-widget h2 {
  margin-bottom: 0px;
  font-size: 21px;
  font-weight: bold;
}

.learndash-circle-progress-widget h3 {
  font-size: 16px;
}

.learndash-circle-progress-widget .circle-progress .ProgressBar-percentage span {
  font-size: 60px;
  font-weight: bold;
}

.learndash-circle-progress-widget .circle-progress .ProgressBar-percentage span.suffix {
  font-size: 22px;
}

.learndash-circle-progress-widget .main-title.learndash-circle-progress-widget-circle-title-style h2,
.learndash-circle-progress-widget .sub-title.learndash-circle-progress-widget-circle-subtitle-style h3,
.learndash-circle-progress-widget .sub-title.learndash-circle-progress-widget-circle-subtitle-style a h3 {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 0px;
}

.learndash-circle-progress-widget {
  padding: 10px;
}

/* Learndash Lesson Continue widget*/

.learndash-lasson-continue-widget .circle-progress .ProgressBar,
.learndash-lasson-continue-widget .circle-progress .ProgressBar-contentCircle {
  display: flex;
  height: 48px;
  position: absolute;
  width: 48px;
}

.learndash-lasson-continue-widget .circle-progress .ProgressBar-circle,
.learndash-lasson-continue-widget .circle-progress .ProgressBar-background {
  animation: progress 1s;
  -webkit-animation: progress 1s;
  -moz-animation: progress 1s;
  fill: none;
  stroke: #d00463;
  stroke-width: 18;
  stroke-linecap: round;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  position: relative;
  z-index: 10;
}

.learndash-lasson-continue-widget .circle-progress .ProgressBar-circle {
  stroke-dasharray: 597px;
  stroke-dashoffset: 597px;
}

.learndash-lasson-continue-widget .circle-progress .ProgressBar-background {
  stroke: white;
  stroke-width: 13;
  z-index: 0;
}

.learndash-lasson-continue-widget .circle-progress .ProgressBar-percentage {
  font-size: 11px;
  text-align: center;
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
}


.learndash-lasson-continue-widget .card-container {
  border: 1px solid #e8e8e8;
  min-height: 398px;
  overflow: hidden;
  margin: 0 7px;
  border-radius: 10px;
  position: relative;
  padding: 20px 15px;
}

.learndash-lasson-continue-widget .icon-container {
  background: #00000078;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.learndash-lasson-continue-widget .circle-progress .ProgressBar {
  position: relative;
}

.learndash-lasson-continue-widget .progress-content-container {
  width: calc(100% - 30px);
  height: calc(100% - 40px);
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;

}

.learndash-lasson-continue-widget .circle-progress.top-right {
  margin-right: 0px;
  margin-left: auto;
}

.learndash-lasson-continue-widget .circle-progress.bottom-right {
  margin-right: 0;
  margin-left: auto;
  margin-top: auto;
}

.learndash-lasson-continue-widget .circle-progress.bottom-left {
  margin-top: auto;
}

.learndash-lasson-continue-widget .card-grid.lesson-carousel .item {
  margin-bottom: 30px;
}

.learndash-lasson-continue-widget .title h3 {
  font-weight: bold;
  line-height: initial;
}

.learndash-lasson-continue-widget .excerpt p {
  color: #fff;
  line-height: initial;

}

.learndash-lasson-continue-widget .link a {
  font-weight: 100;
  border-radius: 14px;
}

.learndash-lasson-continue-widget .link a:hover {
  filter: brightness(1.5);
}

.selected-shape-circle .learndash-lasson-continue-widget .selected i,
.selected-shape-circle .learndash-lasson-continue-widget .selected svg {
  border-radius: 50%;
}

.selected-shape-square .learndash-lasson-continue-widget .selected i,
.selected-shape-square .learndash-lasson-continue-widget .selected svg {
  border-radius: 0%;
}

.learndash-lasson-continue-widget .circle-progress .ProgressBar-circle {
  animation: dash 2s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards;
  -webkit-animation: dash 2s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards;
  -moz-animation: dash 2s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards;
}

.selected-view-framed .learndash-lasson-continue-widget .icon i,
.selected-view-framed .learndash-lasson-continue-widget .icon svg {
  border-color: #fff;
  border: 2px solid;
}

.selected-view-stacked .learndash-lasson-continue-widget .icon i,
.selected-view-stacked .learndash-lasson-continue-widget .icon svg,
.selected-view-default .learndash-lasson-continue-widget .icon i,
.selected-view-default .learndash-lasson-continue-widget .icon svg {
  border: none;
}

.learndash-lasson-continue-widget .media-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.learndash-lasson-continue-widget .media-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.learndash-lasson-continue-widget .box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.learndash-lasson-continue-widget .carousel-option .card-grid .item {
  min-width: 263px;
}


.learndash-lasson-continue-widget .item.left-layout .card-container,
.learndash-lasson-continue-widget .item.right-layout .card-container {
  display: flex;
}

.learndash-lasson-continue-widget .item.left-layout .card-container .media-container,
.learndash-lasson-continue-widget .item.right-layout .card-container .media-container {
  position: relative;
}


.learndash-lasson-continue-widget .item.left-layout .card-container .learndash-lasson-continue-widget-overlay-style,
.learndash-lasson-continue-widget .item.right-layout .card-container .learndash-lasson-continue-widget-overlay-style {
  position: absolute;
}

.learndash-lasson-continue-widget .item.left-layout .card-container .flex-box-content,
.learndash-lasson-continue-widget .item.right-layout .card-container .flex-box-content {
  position: relative;
  width: 50%;
  height: inherit;
}

.learndash-lasson-continue-widget .item.left-layout .card-container img,
.learndash-lasson-continue-widget .item.right-layout .card-container img {
  object-position: top;
}

.learndash-lasson-continue-widget .item.left-layout .card-container,
.learndash-lasson-continue-widget .item.right-layout .card-container {
  height: 450px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.learndash-lasson-continue-widget .item.right-layout .card-container {
  flex-direction: row-reverse;
}

.learndash-lasson-continue-widget .item.left-layout .card-container .flex-box-content .progress-content-container,
.learndash-lasson-continue-widget .item.right-layout .card-container .flex-box-content .progress-content-container {
  padding: 35px 25px;
}

.learndash-lasson-continue-widget .item.left-layout h3,
.learndash-lasson-continue-widget .item.left-layout h2,
.learndash-lasson-continue-widget .item.left-layout p,
.learndash-lasson-continue-widget .item.right-layout h3,
.learndash-lasson-continue-widget .item.right-layout h2,
.learndash-lasson-continue-widget .item.right-layout p,
.learndash-lasson-continue-widget .item.right-layout .ProgressBar-percentage {
  color: black;
}

.learndash-lasson-continue-widget h2 {
  font-size: 20px;
}

.learndash-lasson-continue-widget h3 {
  font-size: 25px;
}

.learndash-lasson-continue-widget p {
  font-size: 16px;
}

.learndash-lasson-continue-widget a {
  font-size: 18px;
}

.learndash-lasson-continue-widget .item.full-size-layout h3,
.learndash-lasson-continue-widget .item.full-size-layout h2,
.learndash-lasson-continue-widget .item.full-size-layout p,
.learndash-lasson-continue-widget .item.right-layout .ProgressBar-percentage {
  color: #fff;
}

.learndash-lasson-continue-widget .item.full-size-layout p.learndash-lasson-continue-widget-excerpt-style {
  width: 313px;
}

.learndash-lasson-continue-widget .item.full-size-layout .card-container {
  padding: 40px 40px;
}

.learndash-lasson-continue-widget .item.full-size-layout .progress-content-container {
  width: calc(100% - 80px);
  height: calc(100% - 80px);
}
/** learndash duration overview **/
.learndash-duration-overview-widget .flex-container {
  display: flex;
  justify-content: space-between;
}

.learndash-duration-overview-widget .flex-container .title {
  display: flex;
  align-items: baseline;
}

.learndash-duration-overview-widget .flex-container .icon-tooltip .tooltip {
  display: none;
  opacity: 0.5;
  bottom: 97%;
  position: absolute;
  background: rgba( 46,49,49,0.95 );
  max-width: 180px;
  pointer-events: none;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -.24px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.22);
  color: #fff;
  content: attr(data-balloon);
  line-height: 1.3;
  padding: 7px 15px;
  position: absolute;
  font-family: 'SF UI Text', sans-serif;
  z-index: 10;
}

.learndash-duration-overview-widget .flex-container .icon-tooltip:hover .tooltip {
  display: block;
  opacity:1;
  bottom: 110%;
}
.learndash-duration-overview-widget .flex-container .icon-tooltip:hover .tooltip p,
.learndash-duration-overview-widget .flex-container .icon-tooltip:hover .tooltip h2,
.learndash-duration-overview-widget .flex-container .icon-tooltip:hover .tooltip h3,
.learndash-duration-overview-widget .flex-container .icon-tooltip:hover .tooltip h4,
.learndash-duration-overview-widget .flex-container .icon-tooltip:hover .tooltip h5,
.learndash-duration-overview-widget .flex-container .icon-tooltip:hover .tooltip h6,
.learndash-duration-overview-widget .flex-container .icon-tooltip:hover .tooltip h1,
.learndash-duration-overview-widget .flex-container .icon-tooltip:hover .tooltip li,
.learndash-duration-overview-widget .flex-container .icon-tooltip:hover .tooltip strong{
  color: lightgray !important;
  max-width: 219px;
  margin: 0px !important;
  font-size: 11px;
  text-align: justify;
}
.learndash-duration-overview-widget .flex-container .icon-tooltip {
  margin-left: 5px;
}

.learndash-duration-overview-widget .flex-container .title h3 {
  margin-bottom: 0px;
}


.learndash-duration-overview-widget .progress-bar-container .progress-bar-background {
  background: #d9d9d9;
  margin: 14px 0;
  overflow: hidden;
}

.learndash-duration-overview-widget .progress-bar-container .progress-bar-background .progress-bar-value {
  background-color: #73c0b1;
  animation: progressDuration  ease-in-out;
  -webkit-animation: progressDuration   ease-in-out;
  -moz-animation: progressDuration  ease-in-out;
}
.learndash-duration-overview-widget .border-raduis{
  border-radius: 20px;
}
.learndash-duration-overview-widget .finish-text-container h4 {
  font-size: 16px;
  margin-top: 11px;
}
.learndash-duration-overview-widget .value {
  font-size: 15px;
}
@media (max-width: 767px) {
  .learndash-lasson-continue-widget h2 {
    font-size: 16px;
  }

  .learndash-lasson-continue-widget h3 {
    font-size: 18px;
  }

  .learndash-lasson-continue-widget p {
    font-size: 14px;
  }

  .learndash-lasson-continue-widget a {
    font-size: 16px;
  }

  .learndash-lasson-continue-widget .item.full-size-layout p.learndash-lasson-continue-widget-excerpt-style {
    width: 270px;
  }

  .learndash-lasson-continue-widget .item.full-size-layout .card-container {
    padding: 30px 15px;
  }
}